<div class="main" id="contentToPrint">
    <!-- <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="" [(ngModel)]="name">
        <label for="floatingInput">Product Name</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingPassword" placeholder="" [(ngModel)]="details">
        <label for="floatingPassword">Product Details</label>
      </div> -->

      <div>
        <h3>Product</h3>
        <p>Sugar</p>
      </div>
      <div>
        <h3>Product Details</h3>
        <p>Sugar's taste is sweet</p>
      </div>
      <div id="elementH"></div>

      <button type="button" id="printPageButton" class="btn btn-success" (click)="print()">Print</button>
</div>


